.feedback{
    display: flex;
    padding: 10px;
    padding-left: 0px;
}
.post_feedbackIcon{
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
    margin-top: 6px;
    
}
.post_feedbackName{
  margin-top: 10px; 
  color: gray;
  font-weight: 600; 
  margin-right: 40px;
}